<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Saucer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
</head>
<body>

<header>

</header>

<section class="container">

	<table id="saucer_table" class="table">
	
		<tr id="tableHeader">
		
			<th id="switcher">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Project A <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
				    	<li data-id="123"><a href="#">Project A</a></li>
						<li data-id="456"><a href="#">Project B</a></li>
					</ul>
				</div>
			</th>
			
			<th class="weeks this_week">May 5-6</th> 
			<th class="weeks next_week">May 13-18</th>
		</tr>
		<tr>
			<td class="rowHead"><a href="#">Kyle Racki</a></td>
			<td class="this_week">
				<input id="123" type="range" value="0" max="40">
			</td> 
			<td class="next_week">
				<input data-id="2" type="range" value="0" max="40">
			</td>
		</tr>
		<tr>
			<td class="rowHead"><a href="#">Ricky Ferris</a></td>
			<td class="this_week">
				<input id="456" type="range" value="0" max="40">
			</td> 
			<td class="next_week">
				<input data-id="4" type="range" value="0" max="40">
			</td>
		</tr>
		<tr id="tableTotal">
			<td></td>
			<td class="this_week"></td> 
			<td class="next_week"></td>
		</tr>
		
	</table>

</section>

<footer>

</footer>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src="../assets/js/project.js"></script>
<script src="../assets/js/teamMember.js"></script>
<script src="../assets/js/slider.js"></script>
<script src="../assets/js/saucer.js"></script>
<script src="../assets/js/week.js"></script>
<script src="../assets/js/app.js"></script>
</body>
</html>